<div class="row">
  <div class="col-12 col-sm-12 col-md-4">
    <h1 style="font-size: 63px;" class="text-primary" >Drink of the moment</h1>
    <p class="text-primary">Gin, also known as gin, is one of the most popular and appreciated alcoholic beverages worldwide, especially for
      its versatility in cocktails. Originally from Europe, this spirit has evolved over the centuries and comes in a
      wide range of styles and flavors.</p>
  </div>
  <div class="col-12 col-sm-12 col-md-4">
    <div>
      <img src="/assets/images/Botella-Gin-centro.png" alt="" srcset="">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4">
    <div class="row">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img src="/assets/images/water-solid-1.png" alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
          <h5 class="text-primary">Versatility</h5>
          <p class="text-primary">The range of flavors in gin is exceptionally wide, thanks to the variety of botanicals that can be used in its production</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img src="/assets/images/water-solid-1.png" alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
          <h5 class="text-primary">Versatility</h5>
          <p class="text-primary">The range of flavors in gin is exceptionally wide, thanks to the variety of botanicals that can be used in its production</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img src="/assets/images/water-solid-1.png" alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
          <h5 class="text-primary">Versatility</h5>
          <p class="text-primary">The range of flavors in gin is exceptionally wide, thanks to the variety of botanicals that can be used in its production</p>
        </div>
      </div>
    </div>
  </div>
</div>
