<section class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column justify-content-between h-100">
        <h1 class="text-dark mb-3">Drink of the moment</h1>

        <p class="m-0">Gin, also known as gin, is one of the most popular and appreciated alcoholic beverages worldwide, especially for its versatility in cocktails. Originally from Europe, this spirit has evolved over the centuries and comes in a wide range of styles and flavors.</p>

        <h2 class="text-dark mb-3">4.9</h2>

        <app-button-with-icon iconName="chevron_right">Try now</app-button-with-icon>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="d-flex justify-content-center align-items-center">
        <figure class="d-flex justify-content-center align-items-center mb-3 bg-primary rounded-circle">
          <img src="/assets/images/Botella-Gin-centro.png" alt="" class="img-fluid">
        </figure>
      </div>
    </div>
    <div class="col-12 col-md-4">

        <div class="d-flex media-card mb-3">
          <div class="media-card__icon bg-primary rounded-circle d-inline-flex align-items-center justify-content-center">
            <img src="/assets/images/water-solid-1.png" alt="" />
          </div>
          <div class="ms-3">
            <h5>Versatility</h5>
            <p>The range of flavors in gin is exceptionally wide, thanks to the variety of botanicals that can be used in its production</p>
          </div>
        </div>

        <div class="d-flex media-card mb-3">
          <div class="media-card__icon bg-primary rounded-circle d-inline-flex align-items-center justify-content-center">
            <img src="/assets/images/cocktail-solid 1.png" alt="" />
          </div>
          <div class="ms-3">
            <h5>Distonv Flavor</h5>
            <p>The range of flavors in gin is exceptionally wide, thanks to the variety of botanicals that can be used in its production</p>
          </div>
        </div>

        <div class="d-flex media-card mb-3">
          <div class="media-card__icon bg-primary rounded-circle d-inline-flex align-items-center justify-content-center">
            <img src="/assets/images/Vector.png" alt="" />
          </div>
          <div class="ms-3">
            <h5>Purity</h5>
            <p>The range of flavors in gin is exceptionally wide, thanks to the variety of botanicals that can be used in its production</p>
          </div>
        </div>

    </div>
  </div>
</section>
