.mainImage{
  background-color: #A1DBC3;
  padding: 3%;
}
.firstIngredient{
  background-color: #DFBED8;
}
.secondIngredient{
  background-color: #DFBED8;
}
.thirdIngredient{
  background-color: #DFBED8;
}
