<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-4 text-center">
      <h1 class="text-secondary mt-5"> {{cocktailName}} </h1>
      <img [src]="cocktailImage" [alt]="cocktailName" class="img-thumbnail rounded-circle mainImage" width="452">
    </div>
    <div class="col-12 col-sm-12 col-md-8">
      <h2 class="text-secondary" style="margin-left: 20%;">Ingredients</h2>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="text-center text-black" *ngFor="let ingredient of ingredients; let i = index"
          style="margin-left: 10px; margin-right: 10px; margin-bottom: 38px;">
          <a routerLink="/cocktails/{{ingredient.name}}/filter">
            <img src="assets/images/6-Egg-Yolk.png" [alt]="ingredient.name"
            class="img-thumbnail rounded-circle firstIngredient" width="200">
          </a>
          <h6> {{ingredient.name}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
